@namespace MoviesCollection.Components
@using MoviesCollection.Models

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@movieImageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title line-clamp">@Movie.title</h5>
        <p class="card-text line-clamp">@Movie.overview</p>
        <a class="btn btn-primary" @onclick=@(() => OnMovieClick.InvokeAsync(@Movie.id))>Go detail</a>
    </div>
</div>

@code {
    const string ImgPath = "https://image.tmdb.org/t/p/w1280";

    [Parameter]
    public EventCallback<int> OnMovieClick { get; set; }

    private string movieImageUrl => ImgPath + this.Movie.poster_path;

    [Parameter]
    public MovieDetailModel Movie { get; set; }
}