.movie-detail {
    width: 250px;
    height: 320px;
    margin: 19px 15px;
    background: red;
}

.movie-img {
    width: 100%;
    height: 89%;
    object-fit: cover;
}

.movie-title {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}