@namespace MoviesCollection.Components
@using MoviesCollection.Models

<div class="movie-detail">
    <a @onclick="@(() => OnMovieClick.InvokeAsync(@Movie.id))">
        <img class="movie-img" src="@movieImageUrl" />
        <h2 class="movie-title">@Movie.title</h2>
    </a>
</div>

@code {
    const string ImgPath = "https://image.tmdb.org/t/p/w1280";

    [Parameter]
    public EventCallback<int> OnMovieClick { get; set; }

    private string movieImageUrl => ImgPath + this.Movie.poster_path;

    [Parameter]
    public MovieDetailModel Movie { get; set; }
}